@namespace url(http://www.w3.org/1998/Math/MathML);

math[display="block"] {
  display: block;
  text-align: center;
}

ms:before, ms:after {
  content: "\0022";
}
ms[lquote]:before {
 content: attr(lquote);
}
ms[rquote]:after {
  content: attr(rquote);
}
